<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<div style="text-align: center; padding-bottom: 20px;">
<p>
 <strong> Contact with me -   <a href="https://www.linkedin.com/in/akvelibrium/"><b>Volodymir Teslenko</b></a></strong> <br>
  <strong>Skype - akvelibrium02</strong>
  <%= link_to image_tag("recruiting_5.jpg", alt: "Rails") %>
</p>
  </div>