<h1>New Candidate</h1>

<%= render 'form', candidate: @candidate, class: 'btn btn-primary' %>
<div class="actions" style="padding-left: 25px ">
<%= link_to 'Home', candidates_path, class: 'btn btn-primary' %>
</div>