<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="Logoimage" style="margin: 5px 0 5px 40px">

      <%= link_to(image_tag("know_your_third-party.png", size: "150x150", :alt => "rss feed", id:'booksget_logo'), candidates_url )%>

    </div><!--тут ссылка на картинку-->
    <div class="container">
      <div class="p1" style="text-align: center; padding: 5px;
          height: 50px;
          position: relative;
          padding-left: 60px;
          top: 50px;
          left: -49px;"> <%= link_to "App", candidates_url, id: "logo" %></div>

         <%#= link_to "Home",    home_path %>
         <%#= link_to "Help",    help_path %>




      <nav class="nav pull-right buttons">



          <div style="text-align: center; padding-bottom: 10px;"> <%= link_to "Tesl Engineering", candidates_url, id: "logo" %></div>
        <br><br>
        <div style="text-align: right;" >
          <%= link_to 'Welcome Page', root_path, class: "btn btn-large btn-primary" %> </div>


      </nav>
  </div>
    </div>
  </div>

</header>
